<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <listeners>
           <listener class-name="ReportManager.Listener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Login">
    <classes>
        <class name="TestCases.VerifyLogin"/>
    </classes>
</test>
    <test name="Verify PIM">
        <classes>
            <class name="TestCases.VerifyPIM"/>
        </classes>
    </test>
</suite>